<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>add a compliment</title>
</head>
<body style=<%= `background-color:${color};` %>>
  <form action="/" method="post" >
    <label for="">Enter your Compliment:</label>
    <input type="text" name="compliment">
    <button>submit</button>
  </form>
</body>
</html>