<form action="/dishes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="name" value="">
  <textarea name="image_url" id="" cols="30" rows="8"></textarea>
  <button type='submit'>Create</button>
</form>