<p class='desc'>Enter the stock ticker of the stock you want to check below</p>
<form action="/price" method="get">
  <input class="box" type="text" name="stock">
  <button class="submit" type="submit">submit</button>
</form>